li.el-submenu.is-opened .el-submenu__title {
    background-color: #f56c6c !important;
}
/* 级联菜单 */
.cascader-input {
    input::-webkit-input-placeholder { color:#606266; }
    input:-moz-placeholder { color:#606266; }
    input::-moz-placeholder { color:#606266; }
    input:-ms-input-placeholder { color:#606266; }
}
.el-button--danger a{
    color: #ffffff;
}