@import './normalize.scss';
@import './scssConfig.scss';
@import "./elUi.scss";
.width-120 {
    width: 120px;
}
.width-100{
    width: 100px;
}
//float
.pull-right{
    float:right;
}
.pull-left{
    float: left;
}
//spacing
.spacing-30{
    height: 30px;
}
//padding
.padding-top-30{
    padding-top: 30px;
}
